body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #079c95, #48b1bf);
  font-family: "Poppins", sans-serif;
}

.card {
  width: 300px;
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.profile-pic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 -1px;
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.name {
  margin-top: 15px;
  font-size: 22px;
  color: #0e0e0e;
  font-weight: 600;
  background: transparent;
}

.role {
  margin-top: 5px;
  font-size: 14px;
  color: #0c0c0c;
  background: transparent;
}

.follow-btn {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  color: rgb(6, 6, 6);
  cursor: pointer;
  transition: 0.3s;
}

.follow-btn:hover {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  transform: scale(1.05);
}
.social-icons {
  margin-top: 15px;
  position: relative;
  font-size: 30px;

  
}

.github-btn {
  background-color: #24292e; 
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.github-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}

.linkedin-btn {
  background-color: #0077b5; /* LinkedIn blue */
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.linkedin-btn:hover {
  background-color: #005582;
  transform: scale(1.05);
}